{{#unless site.mobileView}}
    {{#if this.composerComponent.canEditTags}}
        {{#unless model.viewFullscreen}}
            {{#if this.composerComponent.isShowTags}}
                <div class="select-tags-list-wrapper {{if this.composerComponent.showPreview 'with-preview'}}" tabindex="5">
                    <div class="select-tags-body">
                        <div class="tag-list-section">
                            {{#each this.composerComponent.sagProductCategories as |category|}}
                                <div id={{category}} class="select-tag-category">
                                    <ul>
                                        {{#each this.composerComponent.productTags as |tag|}}
                                            {{#if (eq category tag.productCategory)}}
                                                <li id="{{tag.tagName}}">
                                                    <label id="{{tag.tagName}}">
                                                        <Input
                                                        @type="checkbox"
                                                        name={{tag.tagName}}
                                                        {{on "change" (action this.composerComponent.actions.updateModelTags)}}
                                                        @checked={{tag.isChecked}} 
                                                        />
                                                        {{tag.tagName}}
                                                    </label>
                                                </li>
                                            {{/if}}
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{popup-input-tip validation=this.composerComponent.tagValidation}}
        {{/unless}}
    {{/if}}
{{/unless}}